<div class="container typeset">
  {{#if showTitle}}
    <h1 class="text-center">Brainstorm</h1>
  {{/if}}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      {{#slick-slider
        adaptiveHeight=true
        autoplay=false
        slidesToShow=1
        slidesToScroll=1
        dots=true
        fade=true}}
        <div>
          <img class="img-responsive center-block" src="/images/splash/brainstorm/brainstorm_1.png">
          <p class='text-center'>
            Scattering tasks adds uncertainty: what did I forget?
          </p>
        </div>
        <div>
          <img class="img-responsive center-block" src="/images/splash/brainstorm/brainstorm_2.png">
          <p class='text-center'>
            Reduce recall work: get everything in one place.
          </p>
        </div>
        <div>
          <img class="img-responsive center-block" src="/images/splash/brainstorm/brainstorm_3.png">
          <p class='text-center'>
            Use your system for jobs, your brain for fun stuff.
          </p>
        </div>
      {{/slick-slider}}
    </div>
  </div>
</div>
