<div class="clearfix">
  <img class="img-responsive center-block" src="{{cartoon-select kind=kind}}">

  <button class="hide-help btn btn-default pull-right" {{action "closeHelp"}}>never show this help</button>
</div>
