<div class="container typeset">
  {{#if showTitle}}
    <h1 class="text-center">Execute</h1>
  {{/if}}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      {{#slick-slider
        adaptiveHeight=true
        autoplay=false
        slidesToShow=1
        slidesToScroll=1
        dots=true
        fade=true}}
        <div>
          <img class="img-responsive center-block" src="/images/splash/execute/execute_1.png">
          <p class='text-center'>
            It's all here, so you're not forgetting anything.
          </p>
        </div>
        <div>
          <img class="img-responsive center-block" src="/images/splash/execute/execute_2.png">
          <p class='text-center'>
            Do any top card, and don't worry about anything else.
          </p>
        </div>
        <div>
          <img class="img-responsive center-block" src="/images/splash/execute/execute_3.png">
          <p class='text-center'>
            Mark the thing done, and your system automatically updates.
          </p>
        </div>
      {{/slick-slider}}
    </div>
  </div>
</div>
