<div class="row">
  <div class="messy-stack col-md-6 col-md-offset-3">
    {{#each sortedModel as |task index|}}
      {{#unless task.isCompleted}}
        {{task-card task=task index=index}}
      {{/unless}}
    {{/each}}
  </div>
</div>
