<div class="jumbotron">
  <div class="container typeset">
    <h1 class="text-center">Plan</h1>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        {{#slick-slider
          adaptiveHeight=true
          autoplay=false
          slidesToShow=1
          slidesToScroll=1
          dots=true
          fade=true}}
          <div>
            <img class="img-responsive center-block" src="/images/splash/plan/plan_1.png">
            <p>
              Some of these tasks depend on others. I can't go home until I've
              gone to the dry cleaner's.
            </p>
          </div>
          <div>
            <img class="img-responsive center-block" src="/images/splash/plan/plan_2.png">
            <p>
              But if I arrange them by what needs to happen before what else&hellip;
            </p>
          </div>
          <div>
            <img class="img-responsive center-block" src="/images/splash/plan/plan_3.png">
            <p>
              I can do them more efficiently, and rest easy knowing that Bonsai
              will only show me what I have to do next.
            </p>
          </div>
        {{/slick-slider}}
      </div>
    </div>
  </div>
</div>
