<div class="container typeset">
  {{#if showTitle}}
    <h1 class="text-center">Plan</h1>
  {{/if}}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      {{#slick-slider
        adaptiveHeight=true
        autoplay=false
        slidesToShow=1
        slidesToScroll=1
        dots=true
        fade=true}}
        <div>
          <img class="img-responsive center-block" src="/images/splash/plan/plan_1.png">
          <p class='text-center'>
            Plan up front to make your life easier.
          </p>
        </div>
        <div>
          <img class="img-responsive center-block" src="/images/splash/plan/plan_2.png">
          <p class='text-center'>
            Draw lines to put tasks ahead of tasks they block.
          </p>
        </div>
        <div>
          <img class="img-responsive center-block" src="/images/splash/plan/plan_3.png">
          <p class='text-center'>
            Planning-you saves doing-you from losing focus!
          </p>
        </div>
      {{/slick-slider}}
    </div>
  </div>
</div>
