<div class="container typeset">
  {{#if showTitle}}
    <h1 class="text-center">Refine</h1>
  {{/if}}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      {{#slick-slider
        adaptiveHeight=true
        autoplay=false
        slidesToShow=1
        slidesToScroll=1
        dots=true
        fade=true}}
        <div>
          <img class="img-responsive center-block" src="/images/splash/refine/refine_1.png">
          <p class='text-center'>
            After adding tasks freely, refine details here.
          </p>
        </div>
        <div>
          <img class="img-responsive center-block" src="/images/splash/refine/refine_2.png">
          <p class='text-center'>
            Is it easy? do it.  On a day?  Calendar.  ASAP?  Add to pile.
          </p>
        </div>
        <div>
          <img class="img-responsive center-block" src="/images/splash/refine/refine_3.png">
          <p class='text-center'>
            Easy things done, scheduled things calendared, the do-now pile is much smaller for planning.
          </p>
        </div>
      {{/slick-slider}}
    </div>
  </div>
</div>
