<div class="cy-frame well">
  {{#unless graphReady}}
    <img src="/images/loading.gif" alt="loading" class="center-block" />
  {{/unless}}
  <div class="cy"></div>
</div>
<button class="btn btn-default pull-right" {{action "resetPanZoom"}}>reset pan and zoom</button>
