<div class="cy-frame well">
  {{#unless graphReady}}
    <img src="/images/loading.gif" alt="loading" class="center-block" />
  {{/unless}}
  <div class="cy"></div>
</div>
<div class="btn-group pull-right">
  <button class="btn btn-default" {{action "zoomIn"}}>+</button>
  <button class="btn btn-default" {{action "zoomOut"}}>-</button>
  <button class="btn btn-default" {{action "resetPanZoom"}}>reset pan and zoom</button>
</div>
