html {
  min-height: 100%;
  position: relative;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.navbar-brand > img {
  display: inline-block;
  margin-top: -15px;
}

.footer {
  background-color: #f5f5f5;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 60px;
  position: absolute;
  width: 100%;

  & > .container {
    padding-left: 15px;
    padding-right: 15px;

    .text-muted {
      margin: 20px 0;
    }
  }
}

.cy-frame {
  height: 400px;
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;

  img {
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
  }

  .cy.activated {
    width: 100%;
    height: 100%;
  }
}

.completed {
  text-decoration: line-through;
}

.task-cards {
  margin-bottom: 35px;

  .task-card:nth-child(odd) {
    margin-left: 26%;
  }

  .task-card {
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.33);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.33);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.33);
    margin-bottom: -20px;
  }
}
