.messy-stack {
  margin-bottom: 35px;

  .task-card {
    margin-bottom: -20px;
    position: relative;
  }

  .task-card:nth-child(odd) {
    transform: translateX(-0.5rem) rotate(-0.5deg);
  }

  .task-card:nth-child(even) {
    transform: translateX(0.5rem) rotate(1deg);
  }
}
