.tab-list {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #999;
  margin-left: -0.3em;
  overflow: hidden;
  transition: width 0.5s, height 0.5s;
  width: 7em;

  form {
    margin: 0.5em;
    margin-left: 0.8em;
  }

  button {
    text-align: left;
  }
}
