.task-card {
  @include box-shadow();
  transition: text-decoration 0.5s, opacity 0.5s;

  .row {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  &.completed {
    text-decoration: line-through;
  }

  &.focused {
    border-color: black;
  }

  .actions {
    float: right;
    position: relative;
    top: -0.6rem;
  }
}
