{{brainstorm-comics showTitle=true}}

<div class="text-center">
  <div class="splash-navigation btn-group" role="group">
    {{#link-to "splash.refine" class="btn btn-default"}}
      Refine &raquo;
    {{/link-to}}
  </div>
</div>
