{{execute-comics showTitle=true}}

<div class="text-center">
  <div class="splash-navigation btn-group" role="group">
    {{#link-to "splash.plan" class="btn btn-default"}}
      &laquo; Plan
    {{/link-to}}
    {{#link-to "splash.review" class="btn btn-default"}}
      Review &raquo;
    {{/link-to}}
  </div>
</div>
