<div class="jumbotron">
  <div class="container typeset">
    <h1 class="text-center">Get things done with Bonsai</h1>
    <p class='text-center'>
      Use a system for planning/remembering, your brain for thinking about things you like.  Then you can do more with less stress.
    </p>
  </div>
</div>

<div class="container">
  <div class="row typeset">
    <div class="col-md-4">
      <h2>Brainstorm</h2>
      <p>
        Step 1: get <em>everything</em> you want to do out of your head.
      </p>
      <p>
        Put any task you think of in a system that can't forget, freeing up your mind for better things.
      </p>
      <p>
        {{#link-to 'splash.brainstorm' class="btn btn-default"}}
          Learn more &raquo;
        {{/link-to}}
      </p>
    </div>
    <div class="col-md-4">
      <h2>Refine &amp; Plan</h2>
      <p>
        Steps 2 &amp; 3: Just do the small things.  Then plan the order of the big things.
      </p>
      <p>
        Make your objectives clearer.  Declutter by doing the easy things.  Planning dependencies for tasks ensures you don't waste time.
      </p>
      <p>
        {{#link-to 'splash.refine' class="btn btn-default"}}
          Learn more &raquo;
        {{/link-to}}
      </p>
    </div>
    <div class="col-md-4">
      <h2>Do it!</h2>
      <p>
        Steps 4: Pick a thing, do a thing, repeat (or take a break).  You already did all the setup!
      </p>
      <p>
        You have one source for what to do.  Do something, mark it done, and move on; no time wasted wondering "What can I do now?"
      </p>
      <p>
        {{#link-to 'splash.execute' class="btn btn-default"}}
          Learn more &raquo;
        {{/link-to}}
      </p>
    </div>
  </div>
</div>
