<div class="jumbotron">
  <div class="container typeset">
    <h1 class="text-center">Welcome to Bonsai</h1>
    <p>
      Bonsai is a tool to help you get things done.
    </p>
    <p>
      We all have more we want to do than we can fit into a day, but if you
      take out the work of trying to remember everything, it turns out that you
      can do a lot more.
    </p>
  </div>
</div>

<div class="container">
  <div class="row typeset">
    <div class="col-md-4">
      <h2>Brainstorm</h2>
      <p>
        The first step is just to dump everything&#8202;&mdash;&#8202;and we
        mean <em>everything</em>&#8202;&mdash;&#8202;that you have to do, work
        on, think about, delegate, or plan into one place. Once everything is
        in a single reliable location, it's no longer in your head, and that
        makes thinking easier.
      </p>
      <p>
        {{#link-to 'splash.brainstorm' class="btn btn-default"}}
          Learn more &raquo;
        {{/link-to}}
      </p>
    </div>
    <div class="col-md-4">
      <h2>Refine &amp; Plan</h2>
      <p>
        Once everything is out of your head, you need to do a little weeding
        and planting. If something can be done right now, do it! If it'll take
        longer, figure out what the next step is and when you can do it. If one
        task relies on another before it can be done, we can help you plan out
        those dependencies and keep the things you can't do yet off your mind.
      </p>
      <p>
        {{#link-to 'splash.refine' class="btn btn-default"}}
          Learn more &raquo;
        {{/link-to}}
      </p>
    </div>
    <div class="col-md-4">
      <h2>Do it!</h2>
      <p>
        When all your ducks are in a row, just do the first thing on your list
        that you can do right now. Keep doing things until you're done (or need
        to take a break)!
      </p>
      <p>
        {{#link-to 'splash.execute' class="btn btn-default"}}
          Learn more &raquo;
        {{/link-to}}
      </p>
    </div>
  </div>
</div>
