<div class="jumbotron">
  <div class="container typeset">
    <h1 class="text-center">Plan</h1>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        {{#slick-carousel
          class="ember-carousel"
          autoplay=false
          slidesToShow=1
          slidesToScroll=1
          dots=true
          fade=true}}
          <div>
            <img class="img-responsive center-block" src="/images/splash/plan/plan_1.png">
            <p>
              Some of these tasks depend on others. I can't go home until I've
              gone to the dry cleaner's.
            </p>
          </div>
          <div>
            <img class="img-responsive center-block" src="/images/splash/plan/plan_3.png">
            <p>
              So put them in order, and we'll only show you what you have to do
              next.
            </p>
          </div>
        {{/slick-carousel}}
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <div class="splash-navigation btn-group" role="group">
    {{#link-to "splash.refine" class="btn btn-default"}}
      &laquo; Refine
    {{/link-to}}
    {{#link-to "splash.execute" class="btn btn-default"}}
      Execute &raquo;
    {{/link-to}}
  </div>
</div>
