{{plan-comics}}

<div class="text-center">
  <div class="splash-navigation btn-group" role="group">
    {{#link-to "splash.refine" class="btn btn-default"}}
      &laquo; Refine
    {{/link-to}}
    {{#link-to "splash.execute" class="btn btn-default"}}
      Execute &raquo;
    {{/link-to}}
  </div>
</div>
