{{refine-comics}}
<div class="text-center">
  <div class="splash-navigation btn-group" role="group">
    {{#link-to "splash.brainstorm" class="btn btn-default"}}
      &laquo; Brainstorm
    {{/link-to}}
    {{#link-to "splash.plan" class="btn btn-default"}}
      Plan &raquo;
    {{/link-to}}
  </div>
</div>
