<div class="jumbotron">
  <div class="container typeset">
    <h1 class="text-center">Refine</h1>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        {{#slick-carousel
          class="ember-carousel"
          autoplay=false
          slidesToShow=1
          slidesToScroll=1
          dots=true
          fade=true}}
          <div>
            <img class="img-responsive center-block" src="/images/splash/refine/refine_1.png">
            <p>
              With to-dos scattered all over, it's hard to know what to do
              next, and things you can't do yet can still feel very demanding
              and urgent.
            </p>
          </div>
          <div>
            <img class="img-responsive center-block" src="/images/splash/refine/refine_2.png">
            <p>
              Get all of those things out of your head and off of scraps of
              paper, and into some system. We suggest Bonsai!
            </p>
          </div>
          <div>
            <img class="img-responsive center-block" src="/images/splash/refine/refine_3.png">
            <p>
              Now, you have the power to organize things, and keep your mind
              peaceful and your focus sharp.
            </p>
          </div>
        {{/slick-carousel}}
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <div class="splash-navigation btn-group" role="group">
    {{#link-to "splash.brainstorm" class="btn btn-default"}}
      &laquo; Brainstorm
    {{/link-to}}
    {{#link-to "splash.plan" class="btn btn-default"}}
      Plan &raquo;
    {{/link-to}}
  </div>
</div>
