<div class="jumbotron">
  <div class="container typeset">
    <h1 class="text-center">Review</h1>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div>
          <p>
            This is the part where you look back on what you've done, and
            smile.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <div class="splash-navigation btn-group" role="group">
    {{#link-to "splash.execute" class="btn btn-default"}}
      &laquo; Execute
    {{/link-to}}
  </div>
</div>
