<div class="jumbotron">
  <div class="container typeset">
    <h1 class="text-center">Review</h1>
    <p>
      Vestibulum vel tortor mattis, sollicitudin sapien in, vehicula dolor.
      Nulla euismod, velit quis euismod tempus, lorem tortor hendrerit nisl, in
      mattis enim erat at sapien. Nunc accumsan turpis in libero tempus,
      sagittis blandit lacus aliquet. Suspendisse id volutpat justo. Nulla
      purus nisl, tincidunt vitae vestibulum a, laoreet vel risus. Donec vel
      egestas elit. Aliquam erat volutpat. Integer sed sodales arcu. Class
      aptent taciti sociosqu ad litora torquent per conubia nostra, per
      inceptos himenaeos. Maecenas congue non purus in aliquet.
    </p>
  </div>
</div>

<div class="text-center">
  <div class="splash-navigation btn-group" role="group">
    {{#link-to "splash.execute" class="btn btn-default"}}
      &laquo; Execute
    {{/link-to}}
  </div>
</div>
