<nav class="navbar navbar-default">
  <div class="container-fluid">
    {{! Brand and toggle get grouped for better mobile display }}
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      {{#link-to 'index' class='navbar-brand'}}
        <img src="/images/bonsai.png" alt="Bonsai">
      {{/link-to}}
    </div>

    {{! Collect the nav links, forms, and other content for toggling }}

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="https://blog.taskbonsai.com">blog</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if session.isAuthenticated}}
          {{#active-link}}
            {{#link-to 'brainstorm'}}1. brainstorm{{/link-to}}
          {{/active-link}}
          {{#active-link}}
            {{#link-to 'refine'}}2. refine{{/link-to}}
          {{/active-link}}
          {{#active-link}}
            {{#link-to 'plan'}}3. plan{{/link-to}}
          {{/active-link}}
          {{#active-link}}
            {{#link-to 'execute'}}4. execute{{/link-to}}
          {{/active-link}}
          {{#active-link}}
            {{#link-to 'review'}}5. review{{/link-to}}
          {{/active-link}}
          {{#active-link}}
            {{#link-to 'archive'}}archive{{/link-to}}
          {{/active-link}}
          {{#active-link}}
            {{#link-to 'me'}}
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <span class="sr-only">account</span>
            {{/link-to}}
          {{/active-link}}
          <li>
            <button class="btn btn-default navbar-btn" {{action 'invalidateSession'}}>logout</button>
          </li>
        {{else}}
          <li>
            {{#link-to 'login'}}login{{/link-to}}
          </li>
        {{/if}}
      </ul>
    </div>{{! /.navbar-collapse }}
  </div>{{! /.container-fluid }}
</nav>

{{keyboard-help open=helpShowing}}

<div id="sidebar-left" class="sidebar">
  <div id="deck-picker"></div>
</div>

{{liquid-outlet}}

<div id="sidebar-right" class="sidebar">
  <div id="out-box"></div>
</div>

<footer id="footer" class="footer">
  <div class="container">
    <p class="text-muted">
      &copy; 2016 Bonsai Tasks. Logo from the Noun Project, &copy; by Liv Iko.
    </p>
  </div>
</footer>
