<div class="header">
  <h1>
    {{#link-to 'index'}}Bonsai{{/link-to}}
  </h1>

  <ul class="nav">
    <li>{{#link-to 'brainstorm'}}brainstorm{{/link-to}}</li>
    <li>{{#link-to 'refine'}}refine{{/link-to}}</li>
    <li>{{#link-to 'plan'}}plan{{/link-to}}</li>
    <li>{{#link-to 'execute'}}execute{{/link-to}}</li>
    <li>{{#link-to 'review'}}review{{/link-to}}</li>
  </ul>
</div>

{{outlet}}

<div class="footer">
  &copy; 2016 Bonsai Tasks
</div>
