<div class="container">
  {{cartoon-modal kind="brainstorm" help=session.currentUser.show_help_brainstorm}}

  <form {{action "addTask" on="submit"}} class="form-horizontal">
    <div class="form-group">
      {{focus-input value=newTaskTitle class="form-control" placeholder='Task...'}}
    </div>
    <button type="submit" class="btn btn-default center-block">add it</button>
  </form>

  <hr>

  {{messy-pile tasks=filteredTasks}}
</div>
