<div class="container">
  <h2>Execute</h2>

  <div class="task-cards-execute">
    {{#each model as |task|}}
      {{#liquid-if (await task.readyToExecute) class="task-animation"}}
        {{#unless task.completed}}
          {{#if task.hasAfters}}
            <div class="card-stack well"></div>
            <div class="card-stack well"></div>
            <div class="card-stack well"></div>
            <div class="card-stack well"></div>
          {{/if}}
        {{/unless}}
        <div class="task-card well">
          <div class="actions btn-group">
            <button class="btn btn-default" disabled={{task.completed}} {{action 'complete' task}} aria-label="complete">
              complete
            </button>
          </div>
          {{task.title}}
        </div>
      {{/liquid-if}}
    {{/each}}
  </div>
</div>
