<div class="container">
  <h2>Execute</h2>

  <ul>
    {{#each model as |task|}}
      {{#if (await task.readyToExecute)}}
        <li class="{{if task.completed 'completed' ''}}">
          <button {{action 'complete' task}} class="btn btn-default">complete</button>
          {{task.title}}
        </li>
      {{/if}}
    {{else}}
      <li>No tasks</li>
    {{/each}}
  </ul>
</div>
