<h2>Execute</h2>

<ul>
{{#each model as |task|}}
  {{#if (await task.readyToExecute)}}
    <li class="{{if task.completed 'completed' ''}}">
      {{task.title}}
      <button {{action 'complete' task}} class="btn btn-default">complete</button>
    </li>
  {{/if}}
{{else}}
  <li>No tasks</li>
{{/each}}
</ul>
