<h2>Execute</h2>

<ul>
{{#each model as |task|}}
  <li class="{{if task.completed 'completed' ''}}">
    {{task.title}}
    <button {{action 'complete' task}}>complete</button>
  </li>
{{else}}
  <li>No tasks</li>
{{/each}}
</ul>
