{{#ember-wormhole to="deck-picker"}}
  {{deck-picker data=decks}}
{{/ember-wormhole}}

<div class="container">
  {{cartoon-modal kind="plan" help=session.currentUser.show_help_plan}}

  {{#if taskGraphData}}
    {{task-graph data=taskGraphData addAfter=(action "addAfter") removeAfter=(action "removeAfter")}}
  {{/if}}
</div>

{{add-task-modal}}
