<div class="container">
  <h2>Plan</h2>

  {{task-graph data=taskGraphData addAfter=(action "addAfter") removeAfter=(action "removeAfter")}}

  <div class="help-text">
    <p>
      <small>Scroll up or down to zoom in or out. Click and drag the background to pan.</small>
    </p>
    <p>
      <small>Click and drag from one task to another to make dependencies.
        Click a dependency to remove it.</small>
    </p>
  </div>
</div>

{{add-task-modal store=store}}
