<div class="container">
  <h2>Review</h2>

  <div>
    {{#each model as |task|}}
      {{#if task.completed}}
        <div class="task-card well">
          <div class="actions btn-group">
            <button class="btn btn-default" {{action 'reject' task}} aria-label="reject">
              reject
            </button>
          </div>
          {{task.title}}
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>

{{add-task-modal store=store}}
